[alias]
    aa = add -A
    br = branch
    co = checkout
    ci = commit
    dd = diff
    dc = diff --cached
    st = status
    l  = log --oneline --graph

[user]
    email = mi@afteryu.me
    name = Mi Yu
    signingkey = mi@afteryu.me

[commit]
    gpgsign = true
